<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>development_server_base_url</key>
	<string>https://spotty-pig-91.loca.lt</string>
	<key>production_server_base_url</key>
	<string>https://eu.api.tru.id</string>
</dict>
</plist>
